footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    bottom: 0;
    padding: 35px;
    position: relative;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    border-top-width: 1px;
    a {
        &:hover {
            color: gray;
        }
    }
}