.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    font-family: sans-serif;
    .nav-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
    }
    main {
        align-self: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    .nav-link-item {
        padding-right: 2rem;
        a {
            &:hover {
                color: gray;
            }
        }
    }
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 15px;
    &:hover {
        color:#551b8b;
    }
}