.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    font-family: sans-serif;
    .nav-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
    }
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    .nav-link-item {
        padding-right: 2rem;
    }
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
}