.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
}

.title-switch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

/* Dark mode styles */
.switcher {
    margin-top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.dark {
    background-color: #1f1c1c;
    color: #fff;
    transition: all 0.6s ease;
}

.dark a,
.dark a:visited,
.dark span {
  color: #fff;
}

.light {
    background-color: #fefefe;
    transition: all 0.6s ease;
}